In [51]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')

In [3]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\sridevi\anaconda3\lib\site-packages (2.0.25)
Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sridevi\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sridevi\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [52]:

import sqlalchemy as sal

In [ ]:
engine = sal.create_engine('mysql+pymysql://root:******@localhost:3306/test_db')
conn = engine.connect()

In [54]:
df.to_sql('netflix_raw', con=engine, index=False, if_exists='append')

8807

In [28]:
df = df.drop_duplicates()

In [29]:
df.show_id.str.len()

0       2
1       2
2       2
3       2
4       2
       ..
8802    5
8803    5
8804    5
8805    5
8806    5
Name: show_id, Length: 9612, dtype: int64

In [46]:
df.type.str.len()

0       5
1       7
2       7
3       7
4       7
       ..
8802    5
8803    7
8804    5
8805    5
8806    5
Name: type, Length: 9612, dtype: int64

In [45]:
max(df.type.str.len())

7

In [32]:
max(df.director.str.len())

32.0

In [33]:
max(df.description.dropna().str.len())

248

In [58]:
df.to_csv("net.csv", index=False)

In [60]:
df.isna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [59]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64